dash==2.17.1
plotly==5.24.1
pandas==2.2.2
xarray==2024.6.0
netCDF4==1.7.1
pyproj==3.6.1
geopandas==1.0.1
SQLAlchemy==2.0.32
psycopg2==2.9.9
chromadb==0.5.5
sentence-transformers==3.0.1
transformers==4.43.3
fastapi==0.114.2
starlette==0.38.5
uvicorn[standard]==0.30.6
gunicorn==22.0.0
redis==5.0.8
python-dotenv==1.0.1
pydantic==2.9.2
pytest==8.3.2
httpx==0.27.2
orjson==3.10.7
shapely==2.0.6
groq==0.4.1
